body {
    padding-bottom: 20px;
    background-color: #000;
}

/* this is gross oh so gross */
.row-table {
    display: table;
}

.col-table {
    float: none;
    display: table-cell;
    vertical-align: top;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: white 0 0 20px;
    background-color: #ababab;
}

.col {
    margin-top: -70px;
}

.left-col {
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 30px;
}

.right-col {
    background-color: white;
    height: 100%;
}

.navbar {
    box-shadow: black 0 0 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors,
.validationMessage {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.playing-area {
    height: 500px;
    border: 1px solid #aaa;
    border-radius: 0;
}

.card {
    border-radius: 5px;
    height: 200px;
    width: 175px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    box-shadow: black 0 0 10px;
    text-align: left;
}

.card.h5 {
    font-weight: bold;
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 1.2em;
}

.white-card {
    background-color: white;
    color: black;
}

.black-card {
    background-color: black;
    color: white;
}

.center {
    margin: 0 auto;
}

.selectable:hover {
    box-shadow: darkblue 0 0 20px;
}

.selectable:active {
    box-shadow: red 0 0 20px;
}

.selected-card {
    box-shadow: gold 0 0 20px;
}

.white-card-row {
    margin-top: 20px;
}

.black-card-row {
    margin: 0 auto;
}

.sidebar {
    background-color: white;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}
